// ------------------------------------- //
// Style of Utilities
// ------------------------------------- //

.blind {
    font-size: 0;
    height: 0;
    left: 0;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 0;
}
